*{
  font-family: 'Alata', serif;
}
.App {
  text-align: center;
}

.App-header {
  background-color:'#99abb7';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
label{
  font-size: .9em;
}
.fontLarge{
  font-size: 3em;
  color: white;
}
.caros{
  background-color: rgba(0, 0, 0, .4);
}
.btnC{
  background-color: transparent;
  border: 1px solid;
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  transition: .5s;
}
.btnC:hover{
  background-color: #009999;
  color: white;
  border-color: #009999;
}
.btng{
  background-color: transparent;
  border: 1px solid;
  color: #009999;
  padding: 10px 15px;
  border-radius: 30px;
  transition: .5s;
}
.btng:hover{
  background-color: #009999;
  color: white;
  border-color: #009999;
}
.green{
  color: #009999;
  font-weight: bold;
  font-size: 3em;
}
.btns{
  padding: 7px 10px;
  font-size: 1em;
  background-color: #009999;
  color: white;
  border: none;
  transition: .5s;
}
.btns:hover{
  background-color: transparent;
  color: #009999;
  border: 1px solid;
}
a.m-1:hover{
  color: #009999;
}
.b{
  font-weight: bold;
}
ul li{
  list-style: none;
}

.nav-link:hover{
  color: blue;
}
.logo{
  position: relative;
  left: 2%;
  top: 3%;
}
.heading{
  background-color: #009999;
  padding: 10px;
  color: white;
}
.medium{
  font-size: 2em;
}
.courseCard div{
  transition: .5s;
  background: linear-gradient(to bottom left, #66ccff 0%, #009999 100%);
  cursor: pointer;
}
.courseCard:hover div{
  background: linear-gradient(to top right, #66ccff 0%, #009999 100%);
}
.nav-item{
  transition: .5s !important;
}
.nav-item:hover{
  border-bottom: 1px solid #009999;
}
.nav-item a:hover{
  color: #009999 !important;
}
.shadow{ 
  box-shadow: 0 0 12px lightgrey;
  padding: 10px;
  border: none;
}
.color{
  color: #009999 !important;
  font-weight: bold;
}
.donatebtn{
  border: none;
  color: white;
  background-color: #009999;
  padding: 10px;
  transition: .5s;
  border-radius: 5px;
  box-shadow: 0 8px 10px lightgrey;
  outline: none;
}
.donatebtn:hover{
  background-color: white;
  color: #009999;
}
.donateForm{
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
.closebtn{
  border: none;
  color: white;
  background-color: transparent;
  font-size: 2em;
  padding: 10px;
  position: relative;
  left: 10;
  top: 50;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar-button{
  background: transparent;
  color: transparent;
}
.sideBarList{
  padding: 10px;
  color: white;
  transition: .5s;
  cursor: pointer;
}
.sideBarList:hover{
  background-color: rgba(0, 0, 0, .4);
}