*{
  font-family: 'Alata', serif;
}
.App {
  text-align: center;
}

.App-header {
  background-color:'#99abb7';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
label{
  font-size: .9em;
}
.fontLarge{
  font-size: 3em;
  color: white;
}
.caros{
  background-color: rgba(0, 0, 0, .4);
}
.btnC{
  background-color: transparent;
  border: 1px solid;
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  transition: .5s;
}
.btnC:hover{
  background-color: green;
  color: white;
  border-color: green;
}
.btng{
  background-color: transparent;
  border: 1px solid;
  color: green;
  padding: 10px 15px;
  border-radius: 30px;
  transition: .5s;
}
.btng:hover{
  background-color: green;
  color: white;
  border-color: green;
}
.green{
  color: green;
  font-weight: bold;
  font-size: 3em;
}
.btns{
  padding: 7px 10px;
  font-size: 1em;
  background-color: green;
  color: white;
  border: none;
  transition: .5s;
}
.btns:hover{
  background-color: transparent;
  color: green;
  border: 1px solid;
}
a.m-1:hover{
  color: green;
}
.b{
  font-weight: bold;
}
ul li{
  list-style: none;
}

.nav-link:hover{
  color: blue;
}
.logo{
  position: relative;
  left: 2%;
  top: 3%;
}
.heading{
  background-color: green;
  padding: 10px;
  color: white;
}
.medium{
  font-size: 2em;
}
.courseCard div{
  transition: .5s;
  background: linear-gradient(to bottom left, #66ccff 0%, #009999 100%);
  cursor: pointer;
}
.courseCard:hover div{
  background: linear-gradient(to top right, #66ccff 0%, #009999 100%);
}